<!DOCTYPE html>
<html ng-app="soundApp">
<head>
  <title>Sounds Button</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="button.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.js"></script>
  <script src="button.js"></script>
</head>
<body ng-controller="soundController">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Sounds Button</h3>
            <ul class="nav masthead-nav">
              Audio file: 
              <select class="styled-select" ng-model="myAudio" ng-options="a.name for a in audio">
                <option value="TD4W"/option>
              </select>
            </ul>
          </div>
        </div>
        <div class="inner cover">
          <button class="btn btn-lg btn-primary" ng-click="play(myAudio)">PRESS</button>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Created By: <a href="https://github.com/Superman2971">Ian Goldfarb</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>